@model IEnumerable<Weather.Website.Models.WeatherDataViewModel>

@{
    Layout = null;
}



@foreach (var item in Model)
{
    <h3>@item.DateTime</h3>
}
<div id="mainContentBlock">
    <div id="blockDays">
        <div class="tabs"></div>
        <div class="tabsTop"></div>
        <div class="tabsContent"></div>
        <div class="tabsBottom"></div>
    </div>
</div>
