@model Weather.Website.Models.CityViewModel

<div id="header">
    <div id="city-name" data-id=@Model.Id>@Model.Name</div>
</div>
<div id="mainContentBlock">
    <div id="blockDays">
        <div class="tabs">
            @foreach (var item in Model.LastSevenDays)
            {
                <div>
                    @Html.ActionLink(item, "Details", null, new { @class = "update-container" })
                </div>
            }
        </div>
        <div class="tabsTop"></div>
        <div class="tabsContent">
            @Html.Partial("WeatherData", Model.WeatherData)
        </div>
        <div class="tabsBottom"></div>
    </div>
</div>