@model Weather.Website.Models.WeatherDataViewModel

@{
    Layout = null;
}



@Model.Id
<div id="mainContentBlock">
    <div id="blockDays">
        <div class="tabs"></div>
        <div class="tabsTop"></div>
        <div class="tabsContent"></div>
        <div class="tabsBottom"></div>
    </div>
</div>
