@model Weather.Website.Models.CityViewModel

<div id="header">
    <div id="city-name" data-id=@Model.Id>@Model.Name</div>
</div>
<div id="mainContentBlock">
    <div id="blockDays">
        <div class="tabs">
            @foreach (var item in Model.LastSevenDays)
            {
                <div>
                    @Html.ActionLink(item, "Details", null, new { @class = "update-container" })
                </div>
            }
        </div>
        <div class="tabsTop">
            @Html.DropDownList("items", Model.Providers, new { id = "poviders", multiple = "multiple" })
        </div>
        <div class="tabsContent">
            <div class="leftContent"></div>
            <div class="rightContent">
                @Html.Partial("WeatherData", Model.WeatherData)
            </div>
        </div>
        <div class="tabsBottom"></div>
    </div>
</div>