@model IEnumerable<Weather.Website.Models.CityViewModel>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(@item.Name, "Index", "WeatherData", new { cityId = item.Id }, null)</li>
    }
</ul>

@Scripts.Render("~/bundles/custom-ajax")





