<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Weather" connectionString="Data Source=.;Initial Catalog=Weather;Integrated Security=False;User ID=sa;Password=qwerty;MultipleActiveResultSets = True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>