<?xml version="1.0" encoding="utf-8" ?>
 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
    <targets>
        <target name="fileInfo" xsi:type="File" fileName="${basedir}/NLog/Info/${date:format=yyyy-MM-dd}.txt" layout="${date}|${level}|${message}" />
        <target name="fileError" xsi:type="File" fileName="${basedir}/NLog/Error/${date:format=yyyy-MM-dd}.txt" layout="${date}|${level}|${message}" />
    </targets>
 
    <rules>
        <logger name="*" minlevel="Info" writeTo="fileInfo" />
        <logger name="*" minlevel="Error" writeTo="fileError" />
    </rules>
 
</nlog>