
@{
    ViewBag.Title = "Main";
}

<h2>Main</h2>

<div id="mainContentBlock">
    <div id="blockDays">
        <div class="tabs"></div>
        <div class="tabsTop"></div>
        <div class="tabsContent"></div>
        <div class="tabsBottom"></div>
    </div>
</div>

